.lane {
    width: 860px;
    display: flex;
    
    margin: 5px auto 5px auto;
    /* padding-left: 5px; */
    /* border-radius: 5px; */
    /* background-color: rgb(235, 233, 233);    */
    background-color: white;
}

.lane.selected {
    background-color: rgb(197, 229, 255) 
}

.lane .volume-knob {
    float: left;
}

.lane .button {
    float: left;
}

.lane select {
    float: left;
    width: 120px;
}

.lane-controls {
    /* background-color: lightsalmon; */
    width: 220px;
    /* display: table-cell; */
    /* line-height: 100%; */
    /* vertical-align: top; */
}

.lane-panel {
    /* background-color: lightblue; */
    width: 640px;
    /* vertical-align: top; */
}

.diatonic-piano-roll {
    margin-top: 10px;
    margin-left: 8px;
    margin-bottom: 10px;
}

.cell-grid-preview {
    margin-bottom: -10px;
    margin-left: -10px;
}

.single-note-lane {
    margin-top: 10px;
    margin-left: -10px;
}

