.lane {
    width: 860px;
    display: table;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
    border-radius: 5px;
    background-color: rgb(235, 233, 233);   
   
}

.lane.selected {
    
    background-color: rgb(197, 229, 255) 
}

.drum-lane {
    min-height: 45px;
}

.roll-lane {
    padding-bottom: 10px;

}

.section {
    display: table-cell;
    /* border: solid 1px; */
    vertical-align: middle;
}

.button-section {
    width: 35px;
}

.selector-section select {
    width: 120px;
}

.main-section {
    padding-top: 10px
}