html,
body,
#root {
	height: 100%;
	margin: 0px;
	/* background-color: #555; */
}

.logo-header {
	/* font: 300 18px/1.5 'Berkshire Swash', Helvetica, sans-serif; */
	font-size: 2em; font-weight: bold; 
	/* font-family: 'Courier New', Courier, monospace; */
	font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
	letter-spacing: 45px;
	color: #2b2b2b;
	/* text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0, 0, 0, 0.15); */
	background-color: black;
	color: white;
	height: 35px;
	line-height: 35px;
	margin: auto;
	text-align: center;
  width: 900px;
  padding-left: 5px;
}

.Screen {
	text-align: center;
	font-weight: bold; 
	font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
	width: 900px;
	margin: auto;
}

header {
	color: white;
	background-color: darkslategray;
	height: 25px;
	line-height: 25px;
	text-align: left;
	padding-left: 15px;
}

.content {
	line-height: 30px;
	background-color: rgb(92, 92, 92);
	position: absolute;
	margin: auto;
	width: 900px;
	/* padding: 10px; */

	top: 60px;
	min-height: 2000px;
	padding-bottom: 25px;
	/* bottom: 0px; */
	/* overflow: hidden; */
}